@charset "UTF-8";

body{
    background-color: #f5e4ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0.6cm
}
h1,h2{
    background-color: #ebcafe;
}
h3{
    background-color: #f2dcff;
}
