
div:hover{
    color: blue;
}
div > p{
    display: none;
}
div:hover > p{
    display: block;
}

.helipa{
    background-color: yellow;
    color: red;
}
.fort{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2ch;
    color: blue;
}
h1#unico{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
}